.book-details {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  display: flex;
}

.image-container {
  flex: 1;
  padding: 20px; 
}

img {
  max-width: 100%; 
}

.info-container {
  flex: 1; 
  padding: 20px; 
}


