.book-details {
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  display: flex;
}

.image-container {
  flex: 1;
  padding: 20px; 
}

img {
  max-width: 100%; 
}

.info-container {
  flex: 1; 
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.info-container p{
  flex: 1;
}


.wrapper-crud{
  width: 100%;
  display: flex;
    justify-content: flex-end;
}
.crud-button{
  display: flex;
  max-width: 500px;
  gap: 15px;
}

.delete-button {
  color: white;
  background-color: rgb(206, 19, 19);
}

ul li{
  list-style: none;
}

