@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v22/JTUSjIg1_i6t8kCHKm459WxZc_o3HDM_qw.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}


body, a {
  text-decoration: none;
}

.article {
  display: flex;
  flex-direction: column;
  width: 288px;
  height: 470px;
  background-color: white;
  border-radius: 7px; 
  box-shadow: 0px 6px 6px -3px rgba(0,0,0,0.35);
}

.article img {
  width: 250px;
  height: 360px;
  object-fit: cover;
  padding-top: 10px;
  margin: 0 auto;
}

.article .book-info {
  margin-top: 10px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.article h2 {
  margin-top: 3px;
  margin-bottom: 0px ;
  font-size: 1em;
  font-family: 'Montserrat';
}

.article h3 {
  font-size: 0.8em;
  color: #555;
  font-family: "Roboto";
  --font-weight: 100;
  margin-bottom: 0px ;
}

.categories{
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.article h4 {
  font-size: 0.8em;
  color: #fffdfd;
  font-family: "Roboto";
  --font-weight: 100;
  background-color: #4b4a4a;
  padding: 2px 16px;
  border-radius: 21px;
  margin: 0;
}

.article .long-title h2 {
  font-size: 0.8em;
  line-height: 1.2;
}


.booklist{
    display: flex;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;

}

.filter-controls {
  display: flex; 
  justify-content: center; 
}

.filter-controls button {
  margin: 10px 5px;
  font-size: 14px;
  width: auto;
  padding: 2px 16px;
}